{
	order upload before file_server
}

{$APPPORT} {
	root .

	file_server browse
    templates

    @mypost method POST
	upload @mypost {
		dest_dir tmp-upl
		max_filesize 4MB
        response_template templates/upload-resp-template.txt
	}

	log {
		output file access.log
	}
}
